<!DOCTYPE html>
<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="public/application.js"></script>
  <title></title>
</head>
<body>
  <h1>Twitter Clone</h1>
  <form id="new_user_form">
    <input label="name" placeholder="Name" id="name"></input>
    <input label="username" placeholder="Username" id="username"></input>
    <input label="email" placeholder="Email" id="email"></input>
    <input label="password" placeholder="Password" id="password"></input>
    <button id="submit_new_user">Submit</button>
  </form>
</body>
</html>